<div class="card">
  <div class="card-header">
    <a
      href="https://goo.gle/angular-dot-dev"
      target="_blank"
      class="adev-banner"
      ><p>Welcome to Angular.dev — the future home for Angular!</p>
      <p class="adev-banner-cta">Read about our beta launch</p></a
    >
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          ngSrc="./assets/angular-logo.svg"
          width="300"
          height="74"
          alt="Angular logo"
          priority
        />
      </div>
      <div class="text-center">
        <a href="https://angular.dev/tutorials/learn-angular">
          <button
            aria-label="Learn Angular"
            class="adev-primary-btn"
            text="Learn Angular"
          >
            Learn Angular
          </button></a
        >
      </div>
    </div>
  </div>
</div>
