<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">  
      <h2>
        Why use Deferrable Views?
        </h2>    Deferrable views, also known as defer, are a powerful tool that can be
      used to reduce the initial bundle size of your application or defer heavy
      components that may not ever be loaded until a later time. This should
      result in a faster initial load and an improvement in your Core Web Vitals
      (CWV) results. Deferring some of your components until later should
      specifically improve Largest Contentful Paint (LCP) and Time to First Byte
      (TTFB).</span>
  </div>
</footer>