<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    @if(vehicles().length){
    <div class="list-group">
      @for (vehicle of vehicles(); track $index) { 
        @if($index<3){
      <button
        type="button"
        class="list-group-item"
        [class.active]="vehicle?.name === selectedVehicle()?.name"
        (click)="onSelected(vehicle.name)"
      >
        {{ vehicle.name }}
      </button>
      } } @empty {
      <p>No vehiles available</p>
      }
    </div>
    }
    <!-- @else{
    <p>No vehicles are available</p>
    } -->
  </div>

  @if(errorMessage){
  <div class="alert alert-danger">
    {{ errorMessage }}
  </div>
  }
</div>
